@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
body {
	background: #2f4f4f;
	color: white;
	font-family: sans-family;
	text-align: center;
}
header {
  background: #26A69A;
  position: center;
  color: white;
  font-family: sans-serif;
}
footer {
	background:#708090;
	color:black;
	font-family:Ubuntu Mono;
}
h2 {
	font-family: sans-serif;
}
a {
	color: white;
}
