body {
		background: #fffafa;
		color: black;
		font-family: sans-serif;
		text-align: left;
	}

	header {
		background: #ffffff;
		color: black;
		text-align: center;
		font-family: sans-serif;
	}

	footer {
		background: #696969;
		color: white;
		font-family: Ubuntu;
		text-align: center;
	}

	a {
		color: black;
	}
h2 {
		font-size: 1.75em;
}
h3 {
	font-size: 1.25em;
}