<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>あなたの今するべきこと</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css'>

</head>
<body>
<!-- partial:index.partial.html -->
<style>
body {
 background: #2f4f4f;
 color: white;
 font-family: sans-family;
 text-align: left;
}
 header {
  background: #26A69A;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
 footer {
	background:#708090;
	color:black;
	font-family: Ubuntu;
	text-align: center;
}
	a {
		color: white;
	}
</style>
<header>
	<br>
	<b><p style="font-size: 3em;">あなたの今すべきこと</p></b>
	<br><br>
</header>
<div style="font-family: sans-serif;">
	
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app">
		<center>
			<h4 style="font-size: 2em;"><b>Tasks</b></h4>
				<form @submit.prevent="addTask">
      <input type="text" v-model="newTask" placeholder="タスクを入力してください">
    <button type="submit" class="button is-light">追加</button>
				</form>
		</center>
    <h5 style="font-size: 1.5em;"><b>未進行</b></h5>
    <ul>
      <li v-for="(task, index) in tasks.filter(task => task.status === '未進行')" :key="index">
        {{ task.title }}
        <button @click="changeStatus(index, '進行中')">進行中</button>
        <button @click="changeStatus(index, '完了')">完了</button>
        <button @click="deleteTask(index)">削除</button>
      </li>
    </ul>

		<h5 style="font-size: 1.5em;"><b>進行中</b></h5>
    <ul>
      <li v-for="(task, index) in tasks.filter(task => task.status === '進行中')" :key="index">
        {{ task.title }}
        <button @click="changeStatus(index, '未進行')">未進行</button>
        <button @click="changeStatus(index, '完了')">完了</button>
        <button @click="deleteTask(index)">削除</button>
      </li>
    </ul>

		<h5 style="font-size: 1.5em;"><b>完了</b></h5>
    <ul>
      <li v-for="(task, index) in tasks.filter(task => task.status === '完了')" :key="index">
        {{ task.title }}
        <button @click="changeStatus(index, '未進行')">未進行</button>
        <button @click="changeStatus(index, '進行中')">進行中</button>
        <button @click="deleteTask(index)">削除</button>
      </li>
    </ul>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        tasks: [],
        newTask: ''
      },
      mounted() {
        this.loadTasks();
      },
      methods: {
        addTask() {
          if (this.newTask !== '') {
            this.tasks.push({
              title: this.newTask,
              status: '未進行'
            });
            this.newTask = '';
            this.saveTasks();
          }
        },
        changeStatus(index, newStatus) {
          this.tasks[index].status = newStatus;
          this.saveTasks();
        },
        deleteTask(index) {
          this.tasks.splice(index, 1);
          this.saveTasks();
        },
        saveTasks() {
          localStorage.setItem('tasks', JSON.stringify(this.tasks));
        },
        loadTasks() {
          const savedTasks = localStorage.getItem('tasks');
          if (savedTasks) {
            this.tasks = JSON.parse(savedTasks);
          }
        }
      }
    });
  </script>	
 
</div>
<footer>
	<center>&copy;2023 mynecraft</center>
</footer>
<script src="https://kit.fontawesome.com/6c05f8638a.js" crossorigin="anonymous"></script>
<!-- partial -->
  
</body>
</html>
